<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", type="text/css", href="/style.css")
    body
        h1 The Glennerator
        img(src="http://lh5.ggpht.com/_idBsShaNeMA/THQJEJRMtAI/AAAAAAAAFRs/8wmyjIUmbjM/s800/Got%201982.jpg", alt="IFK", height="300px")
        block content